{% extends "bootstrap_5_layout.html" %}
{% set active_page = "coins" %}


{% block content %}


    <h2>{% block title %} What's Your Favorite Coin? {% endblock %}</h2>
    <p class="text-muted">Are you a Crypto believer? We'd love to hear what your favorite coin is and why. Share with us below!</p>

    <section class="py-5">

        <form method="post">
            <label for="title"><b>Favorite Coin</b></label>
            <br>
            <input class="mb-4" type="text" name="title"
                placeholder="ex: 🤑Bitcoin🤑"
                value="{{ request.form['title'] }}"></input>
            <br>

            <label for="content"><b>Why Do You Love It?</b></label>
            <br>
            <textarea style="width: 300px , height:300px;" class="mb-4" name="content"
                    placeholder="ex: Because its the OG coin 💵 "
                    rows="15"
                    cols="60"
                    >{{ request.form['content'] }}</textarea>
            <br>
            <button class="btn btn-dark" type="submit">Submit</button>
        </form>
    </section>    

{% endblock %}