{% extends "bootstrap_5_layout.html" %}
{% set active_page = "history" %}

{% block content %}


    <h2>Crypto History</h2>
    <p class="text-muted">So how did this magical cryptocurrency come to be? Here's some of the major milestones in the history of crypto.</p>
    
    <!-- Section: Timeline, source: https://mdbootstrap.com/docs/standard/extended/timeline/ --> 
    <section class="py-5 ml-2">

        <ul class="timeline-with-icons">
            <li class="timeline-item mb-5">
                <span class="timeline-icon">
                    <i class="fa-solid fa-lightbulb fa-lg fa-fw"></i>
                </span>
        
                <h5 class="fw-bold">The Beginning of Crypto</h5>
                <p class="text-muted mb-2 fw-bold">2008</p>
                <p class="text-muted">
                A person, under the alias of "Satoshi Nakamoto", released a Bitcoin whitepaper. Understandably, this took the world by surprise and many were skeptics.  
                </p>
            </li>
        
            <li class="timeline-item mb-5">
        
                <span class="timeline-icon">
                    <i class="fa-solid fa-arrow-right-arrow-left fa-lg fa-fw"></i>
                </span>
                <h5 class="fw-bold">Bitcoin "Genesis" Block</h5>
                <p class="text-muted mb-2 fw-bold">2009</p>
                <p class="text-muted">
                The first Bitcoin mining, and subsequently first transaction was carried out between Satoshi and one of his developers Hal Finney. Now, more than just a theoretical concept, Bitcoin became a reality.
                </p>
            </li>
        
            <li class="timeline-item mb-5">
        
                <span class="timeline-icon">
                    <i class="fa-brands fa-bitcoin fa-lg fa-fw"></i>
                </span>
                <h5 class="fw-bold">Bitcoin Enters the Market</h5>
                <p class="text-muted mb-2 fw-bold">2010</p>
                <p class="text-muted">
                Bitcoin officially opened up transactions to the public market, with a starting value of 1,309 Bitcoin "BTC" per every $1 USD. The first documented market transaction was a purchase of 2 pizzas for 10,000 BTC by a programmer in Florida. Traction quickly took leading to exponential growth to roughly 12.5 BTC per $1 USD... talk about an ROI.  
                </p>
            </li>
        
            <li class="timeline-item mb-5">
        
                <span class="timeline-icon">
                    <i class="fa-sharp fa-solid fa-triangle-exclamation fa-lg fa-fw"></i>
                </span>
                <h5 class="fw-bold">Trouble Ahead</h5>
                <p class="text-muted mb-2 fw-bold">2010</p>
                <p class="text-muted">
                Bitcoin critics grew when a hacker was able to enter the verification system to steal 184 BILLION Bitcoins. Naturally, the market tanked and to make matters worse, an inter-governmental group published reports on money laundering concerns with this new payment method.
                </p>
            </li>

            <li class="timeline-item mb-5">
        
                <span class="timeline-icon">
                    <i class="fa-sharp fa-solid fa-door-open fa-lg fa-fw"></i>
                </span>
                <h5 class="fw-bold">Enter New Players and Short Setback</h5>
                <p class="text-muted mb-2 fw-bold">2011-2013</p>
                <p class="text-muted">
                New crypto currency players enter the space inclduing Litecoin, Ripple, and a whitepaper on the "Ethereum Project". Despite these new prospects, Bitcoin negative news continued to unfold when the first major documented BTC theft of 25,000 BTC was recorded. This was the first major documented incident in which a user had BTC stolen directly from their "digital wallet", which hit much closer to home for consumers. However, positive news, like the chairman of the Federal Reserve "backing" Bitcoin, countered the negative press and the price of 1 BTC soared to $700! 
                </p>
            </li>

            <li class="timeline-item mb-5">
        
                <span class="timeline-icon">
                    <i class="fa-solid fa-thumbs-up fa-lg fa-fw"></i>
                </span>
                <h5 class="fw-bold">A New Hope</h5>
                <p class="text-muted mb-2 fw-bold">2014</p>
                <p class="text-muted">
                The US government successfully identified, seized, and auctioned off 29,000 Bitcoins that were being used in illegal drug trades. This event started to turn previous skeptics into believers as Bitcoin shook off its previous notorious title as the "Currency for Criminals". Furthermore, Microsoft started accepting Bitcoin as payment for games, videos, and other services.
                </p>
            </li>

            <li class="timeline-item mb-5">
        
                <span class="timeline-icon">
                    <i class="fa-brands fa-ethereum fa-lg fa-fw"></i>
                </span>
                <h5 class="fw-bold">Slow and Steady Wins the Race</h5>
                <p class="text-muted mb-2 fw-bold">2015-2016</p>
                <p class="text-muted">
                Ethereum "Genesis" Block officially launched, leading to over 40 financial groups commiting to further exploration and implementation of blockchain as a tool. New coin developers and miners rapidly poured into the space, pushing the price of 1 BTC to $770 USD a steep recovery from its dip to $177 USD early 2015.
                </p>
            </li>

            <li class="timeline-item mb-5">
        
                <span class="timeline-icon">
                    <i class="fa-solid fa-arrow-trend-up fa-lg fa-fw"></i>
                </span>
                <h5 class="fw-bold">Bitcoin Overload</h5>
                <p class="text-muted mb-2 fw-bold">2017</p>
                <p class="text-muted">
                With other stricter government regulations like China starting to accept Bitcoin and everyone and their mother discussing cryptocurrency, Bitcoin grew exponentially to a high of $19,780 USD per 1 BTC. Although BTC experienced most of the press headlines, at this point there were nearly 24,000 cryptocurrencies in the market. Around this time is when cryptocurrencies went mainstream as average consumers started trading cryptocurrencies at scale with access to over 600 cryptocurrency exchanges. At the peak in December 2017, the total cryptocurrency market cap was over $1.18T USD! 
                </p>
            </li>

            <li class="timeline-item mb-5">
        
                <span class="timeline-icon">
                    <i class="fa-solid fa-arrow-trend-down fa-lg fa-fw"></i>
                </span>
                <h5 class="fw-bold">What Goes Up Must Come Down</h5>
                <p class="text-muted mb-2 fw-bold">2018</p>
                <p class="text-muted">
                Bitcoin and the broader cryptocurrency market was well overdue for a correction, and the perfect storm quickly formed. Starting with rumors of South Korea planning to ban cryptocurrency trading, followed by the largest crypto market in Japan Coincheck being suspended after a theft of over $500M USD in crypto, and finally social media giants banning Initial Coin Offering advertising and cryptocurrency sales. By the end of 2018 Bitcoin fell below $4,000 USD per 1 BTC.  
                </p>
            </li>

            <li class="timeline-item mb-5">
        
                <span class="timeline-icon">
                    <i class="fa-solid fa-forward fa-lg fa-fw"></i>
                </span>
                <h5 class="fw-bold">A Hopeful Future</h5>
                <p class="text-muted mb-2 fw-bold">2019-Present</p>
                <p class="text-muted">
                As more masses turned to cryptocurrency, Bulls began to takeover leading to higher lows and highs for Bitcoin. For 2019, 2020, 2021, 2022 respectively, the lows/highs for BTC in USD were $3844/$13017 , $7200/$29096 , $28951/$68789, $46379/$47835. Over time the Bitcoin volatility has started to cool off, with current May 2023 trading price around $28,700 USD per 1 BTC. Who knows what the future will hold... time will tell!
                </p>
            </li>
        </ul>

    </section>
  <!-- Section: Timeline -->
  
  <!-- Section: Historical Market Cap-->
  <h2>Historical Crypto Market Cap</h2>
  <img class="mb-4" src="{{ url_for('static',filename='images/crypto_market_cap_history.png') }}" alt="Historical Crypto Market Cap Chart" style="width:100%";>
  <!-- Section: Historicl Market Cap --> 

  <p>Original content citations | <a href="https://blog.seedly.sg/cryptocurrency-timeline-beginning-end-everything/">Seedly</a> , <a href="https://hackernoon.com/everything-you-need-to-know-about-bitcoins-timeline-in-4-minutes-244a412b9455">Hackernoon</a></p>

  {% endblock %}

