{% extends "bootstrap_5_layout.html" %}
{% set active_page = "overview" %}

{% block content %}


    <h2>Crypto Overview</h2>

    <p>Curious what Crypto is? Look no further! See below to better understand what Crypto is, the top currencies, and much more!</p>

    <section class="py-5">
        
                <h5 class="fw-bold">What is Crypto?</h5>
                <p class="text-muted">
                Cryptocurrency is a digital and encrypted form of currency. You can use crypto just like you would cash or credit to buy regular things (groceries, clothes, etc.) It does not have a central governing agency (like the fed). However, it's much riskier and requires an understanding of how each type of crypto works.  
                </p>
            </li>
                <h5 class="fw-bold">What is a Blockchain?</h5>
                <p class="text-muted">
                A common term you'll hear within the crypto world is "blockchain." A blockchain is similar to a checkbook, it records each transaction on a page, then putting all of that together is a blockchain. Each investor has their own copy and it's updated when a transaction is made.
                </p>
            </li>        
                <h5 class="fw-bold">How to Buy Crypto (according to Forbes.com)</h5>
                <p class="text-muted">
                First and foremost, do your research! Ensure you understand how the crypto market works. If you do, then you're ready to buy!
                <p class="text-muted"></p>
                1. Choose a Broker or Crypto Exchange
                <p class="text-muted"></p>
                2. Create an account
                <p class="text-muted"></p>
                3. Deposit cash to invest
                <p class="text-muted"></p>
                4. Place your cryptocurrency order - reference the top 10 cryptocurrencies below for more info.
                <p class="text-muted"></p>
                5. Select a storage method
                </p>
            </li>
                <h5 class="fw-bold">Risks with Crypto</h5>
                <p class="text-muted">
                While crytocurrency has become a household term, many people are still hesitant to invest in crypto because of the inherent risks. One of the largest risks in this industry is the cyber risk. While the well-established currencies (i.e. Bitcoin) have strong cyber security, not every new entrant into the market does. 
                </p>
            </li>
                <h5 class="fw-bold">Top 10 Cryptocurrencies</h5>
                <p class="text-muted">
                1. Bitcoin (BTC): the OG in cryptocurrency, price has shot up as it has become synonymous with "crypto" since 2016.
                <p class="text-muted"></p>
                2. Ethereum (ETH): also seem huge growth since 2016, both a crypto and blockchain platform.
                <p class="text-muted"></p>
                3. Tether (USDT): less risky than others since it's backed by actual currencies.
                <p class="text-muted"></p>
                4. Binance Coin (BNB): can be used to trade on Binance (a crypto exchange); can be traded for other forms of crypto (i.e. ETH or BTC).
                <p class="text-muted"></p>
                5. U.S. Dollar Coin (USDC): also backed by the USD (aims for a 1:1 conversion rate).
                <p class="text-muted"></p>
                6. XRP (XRP): used to enable different types of currency types (i.e. USD and other cryptocurrencies)
                <p class="text-muted"></p>
                7. Cardano (ADA): one of the newer cryptocurrencies; environmentally concious when conducting transactions.
                <p class="text-muted"></p>
                8. Dogecoin (DOGE): began as a joke, but now well-known within the crypto world; susceptible to devaluation since there's no limit on how many can be created.
                <p class="text-muted"></p>
                9. Polygon (MATIC): formerly known as Matic Network; a popular cryptocurrency.
                <p class="text-muted"></p>
                10. Solana (SOL): produces transactions quickly and securely; powered by SOL, Solana's native token.
                <p class="text-muted"></p>
                List from: https://www.forbes.com/advisor/investing/cryptocurrency/top-10-cryptocurrencies/
                <p class="text-muted"></p>
                <img src="{{ url_for('static',filename='images/crypto.jpeg') }}" alt="Cryptocurrencies" style="width:100%";>
                </p>
                </p>
            </li>
        

        </ul>
    </section>
  <!-- Section: Timeline -->

{% endblock %}



