@charset "UTF-8";

/*timeline styling start*/
.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 70%);
    position: relative;
    list-style: none;
}
  
.timeline-with-icons .timeline-item {
    position: relative;
}
  
.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}
  
.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: #212529;
    color: #FFD700;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*timeline styling end*/

/*carousel styling start*/
.carousel-caption{
    margin-top: 20%;
    margin-bottom: 20%;
    background: rgba(0,0,0,0.7);
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color:black;
}

.carousel-caption p{
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color:black;
}

/*carousel styling end*/